body {
    font-size: small;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link, a:visited {
	color: black;
}

#header {
    float: right;
    margin: 10px 25px;
}

#header li {
    margin: 0px 10px;
}

#header ul li button{
    color: white;
    background-color: rgb(66,133,244);
    border: 5px solid rgb(66,133,244);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    font-family: Arial 13px;
    vertical-align: middle;
    text-align: right;
    color: #000;
}

.search {
    display: block;
    margin: 0 auto;
}

.imgSearch {
    padding-top: 109px;
    padding-bottom: 20px;
    margin: auto;
    display: block;
}

#buttons {
    padding: 10px;
}

.search fieldset search {
    margin: auto;
}

fieldset { border:0px;}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:2em;   /* Height of the footer */
   background: rgb(242, 242, 242);
   border-top-color: rgb(228,228,228);
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}